html,
body {
  min-width: 300px;
  color: #445;
  background-color: #ddd;
  font-family: sans-serif;
  line-height: 1.4;
}

#main {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title,
#description {
  text-align: center;
}

#img-div {
  background-color: #aaa;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 20%);
}

#image {
  width: 100%;
  max-width: 100%;
  border: solid 1px rgba(0, 0, 0, 20%);
}

#img-caption {
  margin: 15px 0 0;
  width: 95%;
}

ol li {
  padding-bottom: .5rem;
}

#tribute-info {
  color: navy;
  max-width: 50rem;
  padding: 1rem;
  margin-left: 2rem;
}

.tribute-event {
  word-wrap: normal;
  color: #223;
}

aside {
  padding: 15px;
  margin: auto;
  background-color: #234;
  color: #ddd;
  font-family: consolas;
  text-align: left;
  line-height: 1.5;
  border: double 5px #aaa;
}

aside a {
  color: rgba(50, 100, 200, 95%);
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}

aside p {
  margin: auto;
  padding: 0;
}